* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

.container {
    width: 1440px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.n1 {
    display: flex;
    gap: 60px;
    align-items: center;
}

ul {
    display: flex;
    gap: 60px;
    align-items: center;
}

ul li a {
    color: #363853;
    transition: 0.4s;
}

ul li a:hover {
    color: rgb(213, 139, 0);
    transition: 0.4s;
}

.nav11 {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav11 button {
    background-color: #FF7A50;
    color: white;
    font-weight: 400;
    font-size: 18px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;

}

h1 {
    color: #363853;
    font-weight: 500;
    font-size: 66px;
    width: 530px;
}

h1 span {
    color: #FF7A50;
}

.nhw {
    margin-top: 98px;

    align-items: center;
    display: flex;
}
.nhw img {
    width: 721px;
}
.nhw div p {
    font-weight: 400;
    width: 513px;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
}

.nhw1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nhw11 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.nhw12 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nhw12 button {
    border: none;
    background-color: #FF7A50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
}

.nhw12 p {
    color: #363853;
    text-decoration: underline;
    text-decoration-color: #363853;
    text-underline-offset: 4px;
    font-weight: 400;
    font-size: 20px;
}
.b1 {
    display: flex;
    gap: 137px;
}
.b1 {
    margin-top: 78px;
}
.b11 {
    display: flex;
    flex-direction: column;
    gap: 141px;
}
.b111 {
    display: flex;
    flex-direction: column;
    gap: 95px;
    margin-top: 140px;
}
.b111 p,h2 {
    color: #363853;
}
.b111 h2 span {
    color: #FF7A50;
}
.b111 h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    width: 385px;
}
.b111 p { 
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 449px;
}
.b11 button {
    width: 176px;
    height: 58px;
    color: white;
    background-color: #FF7A50;
    border: none;
    border-radius: 30px;
    border-bottom-right-radius: 1px;
    font-weight: 400;
    font-size: 20px;
}
.h2 {
    color: #363853;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    width: 360px;
    margin: auto;
}
.h2 span {
    color: #FF7A50;
}
.simg {
    width: 361px;
    height: 299px;
}
.b2 {
    display: flex;
    gap: 43px;
    margin-top: 50px;
    margin-left: 370px;
    
}
.b22 {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.b222 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.b2222 {
    display: flex;
    align-items: center;
    gap: 30px;
}
.b22222 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.b222 h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #363853;
}
.b22222 p {
    color: #363853;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.b2222 button {
    width: 79px;
    height: 33px;
    color: white;
    background-color: #FF7A50;
    border-radius: 20px;
    border: none;
    border-bottom-right-radius: 0px;
}
.b33 h6 {
    font-weight: 500;
    font-size: 36px;
    color: #363853;
}
.b33 h6 span {
    color: #FF7A50;
}
.b33 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
    width: 538px;
}
.b3 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 162px;
    margin-left: 176px;
}
footer {
    background-color: #FF7A50;
    width: 1170px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 72px;
    margin: auto;
    margin-top: 138px;
}
footer h5 {
    font-weight: 500;
    font-size: 40px;
    color: white;
    margin-top: 59px;
}
.f1 {
    width: 838px;
    height: 78px;
    color: grey;
    background-color: white;
    border-radius: 50px;
    padding-left: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    gap: 387px;
}
footer button {
    width: 191px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7A50;
    border-radius: 50px;
    border: 2px solid;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
}